@media (max-width: 763px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* import font ROBOTO */
    @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        background: #E2D2DF;
        overflow: hidden;
    }


    /* class created only for a better preview*/
    .stage {
        position: absolute;
        opacity: 1;
        width: 100vw;
        height: 100%;

    }

    .stage.hidden {
        opacity: 0;
        transition: all 400ms ease;
    }

    @media screen and (max-width: 600px) {
        .stage {
            width: 100vw;
            height: 100%;
        }
    }


    .card-content {
        position: relative;

    }

    .card-image {
        width: 100vw;
        height: 100%;
    }

    .card-image img {

        -o-object-fit: cover;
        object-fit: cover;
        width: 100vw;
        height: 100vh;

    }








    /* global actions buttons*/

    .final-state.active {
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: all 400ms ease;
    }

    .final-state.hidden {
        opacity: 0;
    }


    .no-transition {
        -webkit-transition: none ! important;
        transition: none ! important;
    }

    .stackedcards-overflow {
        overflow-y: hidden !important;
    }

    .stackedcards.init {
        opacity: 0;
        /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
    }

    .stackedcards {
        position: relative;
    }

    .stackedcards * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .stackedcards--animatable {
        -webkit-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .stackedcards .stackedcards-container>*,
    .stackedcards-overlay {
        position: absolute;
        width: 100%;
        /* set 100% */
        height: 100%;
        /* set 100% */
        will-change: transform, opacity;
        top: 0;

    }

    .stackedcards-overlay.left>div,
    .stackedcards-overlay.right>div,
    .stackedcards-overlay.top>div {
        width: 100%;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .stackedcards-overlay.left,
    .stackedcards-overlay.right,
    .stackedcards-overlay.top {
        position: absolute;
        width: 44px;
        height: 327px;
        left: 0px;
        top: 145px;

        background: rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(32px);

        border-radius: 0px 24px 24px 0px;


        opacity: 0;


    }

    .stackedcards-overlay.top,
    .stackedcards-overlay.right {
        background: rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(32px);
        opacity: 0.7;
    }

    .stackedcards-overlay.left:empty,
    .stackedcards-overlay.right:empty,
    .stackedcards-overlay.top:empty {
        display: none !important;
    }

    .stackedcards-overlay-hidden {
        display: none;
    }

    .stackedcards-origin-bottom {
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
    }

    .stackedcards-origin-top {
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }

    .stackedcards-bottom,
    .stackedcards-top,
    .stackedcards-none {


        opacity: 0.7;
        /* set card background background */

        height: 100%;
    }

    .stackedcards .stackedcards-container> :nth-child(1) {
        position: relative;
        display: block;
    }

    /*----- Stacked Cards component css END -----*/


    .menu {
        z-index: 10000;
        position: absolute;
        width: 100vw;
        height: 56px;
        left: 0px;
        top: 0px;
        background: rgba(255, 255, 255, 0.11);
        border-radius: 0px 0px 16px 16px;
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
    }

    .drag-item {

        padding: 15px;
        margin-right: 30px;
    }

    .drag-item:last-child {
        margin-right: 0;
    }




    .drag-item-icon {
        width: 26px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gold {
        color: #FFBB00;
    }

    .star p {
        position: absolute;
        width: 262px;
        height: 28px;
        top: 130px;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;

        /* identical to box height, or 117% */

        color: #FFFFFF;

        transform: rotate(-90deg);
    }

    .star .material-icons {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 45px;
        left: 7px;

    }

    .ds {
        position: absolute;
        bottom: 0%;
        left: 50%;
        overflow: hidden;
        user-select: none;
        height: 490px;
        width: 100%;
        background: rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(32px);
        border-radius: 24px 25px 0px 0px;
        z-index: 8;
        transition: transform .5s;
        transform: translate(-50%);
    }

    .ds.closed {
        background: transparent;
        transform: translate(-50%, 65%);
    }

    .drag-area {
        padding: 16px 0;
    }

    .drag-line {
        margin: auto;
        width: 58px;
        height: 4px;
        border-radius: 5px;
        background: #c9c9c9;
    }

    .stars {
        position: absolute;
        left: 20px;
        top: 68px;
    }



    .ds .material-icons {
        font-size: 13px;
    }

    .ds #dbBtn {
        z-index: 2;
        position: absolute;
        width: 64px;
        height: 5px;
        left: 50%;
        top: 7px;
        transform: translate(-50%);
    }

    .ds #foodPrice {
        position: absolute;

        height: 28px;
        right: 4%;
        top: 24px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        /* identical to box height, or 117% */
        text-decoration: underline;

        color: #FFFFFF;
    }

    .ds #foodCategory {

        position: absolute;

        height: 12px;
        left: 20px;
        top: 54px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height, or 120% */
        color: rgba(255, 255, 255, 0.64);
    }

    .ds #foodDeliveryPic {
        position: absolute;
        height: 20px;
        right: 19%;
        top: 57px;

    }

    .ds #foodDeliveryPrice {
        position: absolute;
        height: 20px;
        right: 4%;
        top: 57px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        color: #FFFFFF;
    }

    .ds #foodName {
        z-index: 2;
        left: 20px;
        top: 24px;
        width: 230px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        position: absolute;
        letter-spacing: -0.24px;
        color: #FFFFFF;
    }

    .info {

        height: 20px;
        padding-bottom: 28px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }


    .inf {
        width: 320px;
        height: 230px;
        margin: 80px 53px 0 16px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }

    .p {
        padding-bottom: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .p span {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
    }

    .placeWord {

        margin-left: 16px;
        margin-top: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.64);
    }

    .placeName {
        margin-top: 4px;
        margin-left: 16px;
        text-align: center;
        width: 90%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .address {
        margin-top: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 20px;
    }

    button {
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        height: 30px;
        background: #FFFFFF;
        border-radius: 16px;
        border: none;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .btnOrder {
        width: 96%;
        text-align: center;
    }

    button {
        width: 90%;
        margin-top: 3%;
    }

    body {
        background: rgba(0, 0, 0, 0.7);
    }

    .head {
        display: none;
    }
}

@media (min-width: 764px) {


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: #E2D2DF;
        overflow: hidden;
    }

    .main {
        height: 600px;
        width: 350px;
        /* border: 1px solid black; */
        border-radius: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        box-shadow: 0px 0px 93px -43px rgba(0, 0, 0, 0.75);
    }

    .head {
        width: 562px;
        height: 153px;
        margin-left: 32px;
        margin-top: 32px;
    }

    .head p {
        margin: 0;
        font-weight: 900;
        font-size: 77px;
        line-height: 74px;
        text-transform: uppercase;
    }

    .head span {
        color: #B53471;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px;
    }

    .food {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%);
    }

    .phone {
        display: none;
    }
}